APP_NAME=mpit2026-reg
APP_ENV=local

HTTP_HOST=0.0.0.0
HTTP_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mpit2026_reg
POSTGRES_SSLMODE=disable
POSTGRES_MAX_CONNS=10
POSTGRES_AUTO_MIGRATE=true
POSTGRES_MIGRATIONS_PATH=file://migrations

JWT_SECRET=local-dev-secret
JWT_TTL=168h

MAX_BOT_TOKEN=
MAX_BOT_USERNAME=
MAX_API_BASE_URL=https://platform-api.max.ru

CASBIN_MODEL_PATH=configs/model/casbin_model.conf
CASBIN_POLICY_PATH=configs/model/casbin_policy.csv

LOG_LEVEL=info


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
