{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Backend API для сервиса mpit2026-reg.\n\nОсновные возможности:\n- авторизация через MAX mini app и локальный JWT\n- получение и обновление профиля текущего пользователя\n- создание событий, получение invite token и вход по нему\n- управление гостями и фиксация статуса посещения\n- wishlist и фото внутри события\n\nАутентификация:\n- защищённые методы требуют заголовок Authorization: Bearer \u003cjwt\u003e\n- JWT можно получить через /auth/max/login или через мобильный flow /auth/max/start -\u003e /auth/max/complete -\u003e /auth/max/exchange\n\nSwagger UI доступен по адресу /api/docs/.",
        "title": "mpit2026-reg API",
        "contact": {},
        "version": "0.1.0"
    },
    "host": "mpit-bot.kostya1024.ru",
    "basePath": "/api/v1",
    "paths": {
        "/api/v1/events/{eventID}/photos": {
            "get": {
                "description": "Возвращает список URL фотографий, привязанных к событию.\nДоступ к фотографиям есть только у пользователей, которым разрешено читать событие и связанные с ним материалы.\nЕсли у пользователя недостаточно прав, backend вернёт 403.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "photos"
                ],
                "summary": "Получить фотографии события",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Идентификатор события",
                        "name": "eventID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Массив URL фотографий события",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Некорректный eventID",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "403": {
                        "description": "Недостаточно прав для просмотра фотографий",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка при получении списка фотографий",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/api/v1/events/{eventID}/photos/upload": {
            "post": {
                "description": "Принимает multipart/form-data с набором файлов и загружает фотографии в контекст указанного события.\nЗа один запрос можно загрузить не более 10 файлов.\nМетод предназначен для гостей и организаторов события; размер входного multipart-пакета ограничен backend-логикой.",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "photos"
                ],
                "summary": "Загрузить фотографии события",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Идентификатор события",
                        "name": "eventID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "Один или несколько файлов фотографий",
                        "name": "photos",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Фотографии успешно загружены",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "207": {
                        "description": "Часть файлов загрузилась, часть завершилась ошибкой",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "400": {
                        "description": "Некорректный eventID, отсутствие файлов или превышение лимита количества",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "413": {
                        "description": "Слишком большой multipart-запрос",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/api/v1/events/{eventID}/wishlist": {
            "get": {
                "description": "Возвращает список wishlist-позиций, привязанных к событию.\nСодержимое ответа может зависеть от роли пользователя: организатор видит больше деталей, гостям часть информации может быть скрыта.\nМетод используется для отображения списка подарков и текущего состояния бронирования или финансирования.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "wishlist"
                ],
                "summary": "Получить wishlist события",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Идентификатор события",
                        "name": "eventID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Массив wishlist-позиций события",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Некорректный eventID",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка при получении wishlist",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/api/v1/events/{eventID}/wishlist/ideas": {
            "post": {
                "description": "Принимает текстовое предложение гостя и проверяет его на соответствие anti-wishlist ограничениям.\nВ ответе backend возвращает, разрешена ли идея, а если нет — причину блокировки.\nЕсли идея допустима, в ответ также может быть возвращён созданный или подобранный item.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "wishlist"
                ],
                "summary": "Отправить идею подарка от гостя",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Идентификатор события",
                        "name": "eventID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Тело запроса с текстом идеи подарка",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/action.SubmitGuestIdeaRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Результат проверки идеи: allowed, reason, item",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Некорректный eventID, JSON или пустой текст",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка при обработке идеи",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/api/v1/events/{eventID}/wishlist/parse": {
            "post": {
                "description": "Принимает произвольный текст и с помощью AI разбирает его на список желаемых подарков и anti-wishlist элементов.\nОбычно используется организатором события для первичного наполнения wishlist по заметкам, сообщениям или черновому описанию.\nВ ответе возвращаются массивы items и anti_items, сформированные на основе текста.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "wishlist"
                ],
                "summary": "Разобрать свободный текст в wishlist и anti-wishlist",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Идентификатор события",
                        "name": "eventID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Тело запроса со свободным текстом для разбора",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/action.ParseWishlistRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Сформированные массивы items и anti_items",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Некорректный eventID, JSON или пустой текст",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка при AI-разборе wishlist",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/api/v1/events/{eventID}/wishlist/{itemID}/book": {
            "post": {
                "description": "Позволяет пользователю забронировать конкретный подарок полностью.\nПосле бронирования item нельзя частично финансировать или повторно бронировать другим участникам.\nЕсли позиция уже занята или по ней уже есть сбор средств, backend вернёт конфликт.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "wishlist"
                ],
                "summary": "Забронировать wishlist item целиком",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Идентификатор события",
                        "name": "eventID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Идентификатор wishlist item",
                        "name": "itemID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Сообщение об успешном бронировании",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Некорректный eventID или itemID",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "409": {
                        "description": "Item уже забронирован или по нему уже есть финансирование",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка при бронировании item",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/api/v1/events/{eventID}/wishlist/{itemID}/fund": {
            "post": {
                "description": "Позволяет пользователю внести сумму в общий сбор средств на конкретный подарок.\nИспользуется для сценария коллективного подарка, когда несколько гостей складываются на одну позицию.\nЕсли item уже полностью забронирован, backend вернёт конфликт.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "wishlist"
                ],
                "summary": "Частично профинансировать wishlist item",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Идентификатор события",
                        "name": "eventID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Идентификатор wishlist item",
                        "name": "itemID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Тело запроса с суммой пополнения",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/action.FundItemRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Текущее накопленное значение current_fund",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Некорректный eventID, itemID, JSON или сумма",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "409": {
                        "description": "Item уже полностью забронирован",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка при пополнении сбора",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/auth/max/complete": {
            "post": {
                "description": "Второй шаг мобильного сценария входа.\nМетод принимает session_id, созданный через /auth/max/start, и init_data, полученный после открытия MAX mini app.\nBackend проверяет подпись MAX, срок действия init_data и соответствие start_param созданной auth session.\nПосле успешной проверки session переходит в состояние completed, но JWT ещё не выдаётся.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Завершить мобильный auth flow через MAX init_data",
                "parameters": [
                    {
                        "description": "Тело запроса с session_id и init_data из MAX",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/action.CompleteMAXAuthRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Auth session успешно завершена",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/core.MAXAuthSession"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Некорректный JSON или обязательные поля отсутствуют",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "init_data невалиден, просрочен или start_param не соответствует session_id",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "404": {
                        "description": "Auth session не найдена",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "409": {
                        "description": "Сессия уже завершена, уже обменяна на JWT или истекла",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/auth/max/exchange": {
            "post": {
                "description": "Финальный шаг мобильного auth flow.\nМетод принимает session_id, проверяет, что auth session уже находится в состоянии completed, и только после этого выдаёт JWT backend.\nПосле успешного обмена повторное использование той же session запрещено.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Обменять completed auth session на локальный JWT",
                "parameters": [
                    {
                        "description": "Тело запроса с session_id для обмена на JWT",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/action.ExchangeMAXAuthRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JWT успешно выдан",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/core.AuthSession"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Некорректный JSON или пустой session_id",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "404": {
                        "description": "Auth session не найдена",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "409": {
                        "description": "Сессия ещё не готова, уже обменяна, уже использована или истекла",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/auth/max/login": {
            "post": {
                "description": "Упрощённый сценарий авторизации для случая, когда frontend уже работает внутри MAX mini app.\nМетод принимает init_data из window.WebApp.initData, валидирует подпись, срок жизни данных и идентичность пользователя.\nЕсли пользователь ещё не существует в системе, он будет создан автоматически через OAuth-привязку.\nВ ответе возвращается локальный JWT и профиль пользователя.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Войти по MAX init_data и сразу получить JWT",
                "parameters": [
                    {
                        "description": "Тело запроса с init_data из MAX mini app",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/action.LoginWithMAXRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JWT успешно выдан",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/core.AuthSession"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Некорректный JSON или пустой init_data",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "init_data невалиден, просрочен или не прошёл проверку подписи",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "409": {
                        "description": "Конфликт бизнес-логики авторизации",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/auth/max/session/{sessionID}": {
            "get": {
                "description": "Возвращает текущее состояние auth session, созданной через /auth/max/start.\nИспользуется для polling-сценария, когда один клиент ждёт, пока пользователь завершит вход в MAX на другом устройстве или в другом окне.\nВозможные статусы описаны в core.MAXAuthSession.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Получить статус MAX auth session",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ID auth session",
                        "name": "sessionID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Текущий статус auth session",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/core.MAXAuthSession"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Некорректный session_id",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "404": {
                        "description": "Auth session не найдена",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/auth/max/start": {
            "post": {
                "description": "Создаёт временную auth session для мобильного сценария входа через MAX.\nВ ответе возвращается session_id и deep link на MAX mini app.\nПользователь должен открыть ссылку, подтвердить вход внутри MAX, после чего фронтенд или backend может опрашивать статус сессии.\nЭтот метод полезен, когда вход начинается не из уже открытого mini app, а из внешнего клиента.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Запустить мобильный auth flow через MAX mini app",
                "responses": {
                    "201": {
                        "description": "Создана auth session и ссылка для входа",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/core.MAXAuthStart"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "503": {
                        "description": "MAX auth недоступен: не настроен bot username или недоступен внешний MAX API",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/events": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Создаёт новое событие от имени текущего авторизованного пользователя.\nОрганизатором события автоматически становится пользователь из Bearer JWT.\nВ запросе нужно передать базовые параметры события: город, дату, время, ожидаемое число гостей и бюджет.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "events"
                ],
                "summary": "Создать событие",
                "parameters": [
                    {
                        "description": "Тело запроса с параметрами события",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/action.CreateEventRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Событие успешно создано",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/core.Event"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Некорректный JSON или ошибка валидации полей",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "409": {
                        "description": "Конфликт при создании события",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/events/join-by-token": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Добавляет текущего пользователя в событие по invite token.\nТокен должен быть активным и принадлежать существующему событию.\nПосле успешного входа backend возвращает карточку события с ролью доступа пользователя в этом событии.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "events"
                ],
                "summary": "Войти в событие по invite token",
                "parameters": [
                    {
                        "description": "Тело запроса с invite token",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/action.JoinEventByTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Пользователь успешно добавлен в событие",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/core.Event"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Некорректный JSON или пустой token",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "404": {
                        "description": "Invite token не найден или недействителен",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "409": {
                        "description": "Конфликт при присоединении к событию",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/events/my": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Возвращает список событий, к которым текущий пользователь имеет отношение.\nВ выборку попадают события, где пользователь является организатором, соорганизатором или гостем.\nДля каждого события backend дополнительно возвращает access_role и связанные статусы гостя, если они применимы.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "events"
                ],
                "summary": "Получить список моих событий",
                "responses": {
                    "200": {
                        "description": "Список событий текущего пользователя",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/core.Event"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/events/{eventID}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Возвращает полную карточку события по его идентификатору.\nДоступ к методу ограничен middleware авторизации и проверкой прав доступа к конкретному событию.\nЕсли у пользователя нет права читать событие, backend вернёт 403.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "events"
                ],
                "summary": "Получить событие по ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Идентификатор события",
                        "name": "eventID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Карточка события",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/core.Event"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Некорректный eventID",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "403": {
                        "description": "Недостаточно прав для чтения события",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "404": {
                        "description": "Событие не найдено",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/events/{eventID}/guests": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Возвращает список гостей, связанных с указанным событием.\nМожно дополнительно отфильтровать список по approval_status через query-параметр.\nДоступ к методу ограничен проверкой прав на чтение события.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "events"
                ],
                "summary": "Получить список гостей события",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Идентификатор события",
                        "name": "eventID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Фильтр по статусу подтверждения: pending, approved, rejected",
                        "name": "approval_status",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список гостей события",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/core.EventGuest"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "403": {
                        "description": "Недостаточно прав для просмотра гостей",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/events/{eventID}/guests/{guestID}/status": {
            "patch": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Обновляет attendance_status конкретного гостя в рамках события.\nМетод предназначен для сценария, когда сам пользователь подтверждает или отклоняет своё участие.\nОрганизатор и co_host не могут использовать этот endpoint для управления посещаемостью других пользователей.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "events"
                ],
                "summary": "Обновить статус посещения гостя",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Идентификатор события",
                        "name": "eventID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Идентификатор гостя",
                        "name": "guestID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Тело запроса с attendance_status",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/action.UpdateGuestStatusRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Статус посещения успешно обновлён",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/core.EventGuest"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Некорректный JSON, eventID, guestID или attendance_status",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "403": {
                        "description": "Недостаточно прав для обновления статуса посещения",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "404": {
                        "description": "Гость не найден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/events/{eventID}/invite": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Возвращает активный invite token для указанного события.\nОбычно используется организатором или соорганизатором, чтобы передать ссылку или token приглашённому пользователю.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "events"
                ],
                "summary": "Получить invite token события",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Идентификатор события",
                        "name": "eventID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Активный invite token события",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "403": {
                        "description": "Недостаточно прав для просмотра invite token",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "404": {
                        "description": "Событие или invite token не найдены",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/events/{eventID}/stats": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Возвращает агрегированную статистику по гостям указанного события.\nВ ответ включаются счётчики по approval_status и attendance_status.\nМетод полезен для дашбордов, карточек события и административных экранов.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "events"
                ],
                "summary": "Получить статистику по гостям события",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Идентификатор события",
                        "name": "eventID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Статистика по гостям события",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/core.EventGuestStats"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "403": {
                        "description": "Недостаточно прав для просмотра статистики",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        },
        "/healthz": {
            "get": {
                "description": "Выполняет базовую healthcheck-проверку backend-сервиса.\nEndpoint дополнительно проверяет доступность PostgreSQL через Ping.\nЕсли приложение живо, но база недоступна, метод вернёт 503 и укажет database=unavailable.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "health"
                ],
                "summary": "Проверить состояние сервиса",
                "responses": {
                    "200": {
                        "description": "Сервис и база доступны",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/action.HealthData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "503": {
                        "description": "Сервис отвечает, но база недоступна",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/action.HealthData"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/me": {
            "patch": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Обновляет профиль пользователя, который определяется из Bearer JWT.\nМожно передать full_name, phone или оба поля сразу.\nТелефон нормализуется backend-логикой к цифровому виду без знака плюс и разделителей.\nХотя бы одно поле должно быть передано, иначе метод вернёт ошибку валидации.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Обновить профиль текущего пользователя",
                "parameters": [
                    {
                        "description": "Тело запроса с обновлением full_name и/или phone",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/action.UpdateMeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Профиль успешно обновлён",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.SuccessEnvelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/core.User"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Некорректный JSON или ошибка валидации полей",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "401": {
                        "description": "JWT отсутствует или невалиден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "404": {
                        "description": "Пользователь не найден",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    },
                    "409": {
                        "description": "Конфликт при обновлении профиля",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorEnvelope"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "action.CompleteMAXAuthRequest": {
            "type": "object",
            "properties": {
                "init_data": {
                    "type": "string"
                },
                "session_id": {
                    "type": "string"
                }
            }
        },
        "action.CreateEventRequest": {
            "type": "object",
            "properties": {
                "budget": {
                    "type": "string"
                },
                "city": {
                    "type": "string"
                },
                "event_date": {
                    "type": "string"
                },
                "event_time": {
                    "type": "string"
                },
                "expected_guest_count": {
                    "type": "integer"
                }
            }
        },
        "action.ExchangeMAXAuthRequest": {
            "type": "object",
            "properties": {
                "session_id": {
                    "type": "string"
                }
            }
        },
        "action.FundItemRequest": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "number"
                }
            }
        },
        "action.HealthData": {
            "type": "object",
            "properties": {
                "database": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "action.JoinEventByTokenRequest": {
            "type": "object",
            "properties": {
                "token": {
                    "type": "string"
                }
            }
        },
        "action.LoginWithMAXRequest": {
            "type": "object",
            "properties": {
                "init_data": {
                    "type": "string"
                }
            }
        },
        "action.ParseWishlistRequest": {
            "type": "object",
            "properties": {
                "text": {
                    "type": "string"
                }
            }
        },
        "action.SubmitGuestIdeaRequest": {
            "type": "object",
            "properties": {
                "text": {
                    "type": "string"
                }
            }
        },
        "action.UpdateGuestStatusRequest": {
            "type": "object",
            "properties": {
                "attendance_status": {
                    "type": "string"
                }
            }
        },
        "action.UpdateMeRequest": {
            "type": "object",
            "properties": {
                "full_name": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                }
            }
        },
        "core.ApprovalStatus": {
            "type": "string",
            "enum": [
                "pending",
                "approved",
                "rejected"
            ],
            "x-enum-varnames": [
                "ApprovalPending",
                "ApprovalApproved",
                "ApprovalRejected"
            ]
        },
        "core.AttendanceStatus": {
            "type": "string",
            "enum": [
                "pending",
                "confirmed",
                "declined"
            ],
            "x-enum-varnames": [
                "AttendancePending",
                "AttendanceConfirmed",
                "AttendanceDeclined"
            ]
        },
        "core.AuthSession": {
            "type": "object",
            "properties": {
                "access_token": {
                    "type": "string"
                },
                "expires_at": {
                    "type": "string"
                },
                "token_type": {
                    "type": "string"
                },
                "user": {
                    "$ref": "#/definitions/core.User"
                }
            }
        },
        "core.Event": {
            "type": "object",
            "properties": {
                "access_role": {
                    "type": "string"
                },
                "approval_status": {
                    "type": "string"
                },
                "attendance_status": {
                    "type": "string"
                },
                "budget": {
                    "type": "string"
                },
                "city": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "event_date": {
                    "type": "string"
                },
                "event_time": {
                    "type": "string"
                },
                "expected_guest_count": {
                    "type": "integer"
                },
                "id": {
                    "type": "string"
                },
                "invite_token": {
                    "type": "string"
                },
                "selected_variant_id": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "variants": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/core.EventVariant"
                    }
                }
            }
        },
        "core.EventGuest": {
            "type": "object",
            "properties": {
                "approval_status": {
                    "$ref": "#/definitions/core.ApprovalStatus"
                },
                "attendance_status": {
                    "$ref": "#/definitions/core.AttendanceStatus"
                },
                "created_at": {
                    "type": "string"
                },
                "event_id": {
                    "type": "string"
                },
                "full_name": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "plus_one_count": {
                    "type": "integer"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "core.EventGuestStats": {
            "type": "object",
            "properties": {
                "approved": {
                    "type": "integer"
                },
                "attendance_pending": {
                    "type": "integer"
                },
                "confirmed": {
                    "type": "integer"
                },
                "declined": {
                    "type": "integer"
                },
                "pending_approval": {
                    "type": "integer"
                },
                "rejected": {
                    "type": "integer"
                }
            }
        },
        "core.EventLocation": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "ai_comment": {
                    "type": "string"
                },
                "ai_score": {
                    "type": "string"
                },
                "contacts": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "event_id": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "is_rejected": {
                    "type": "boolean"
                },
                "rejected_at": {
                    "type": "string"
                },
                "sort_order": {
                    "type": "integer"
                },
                "source": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "variant_id": {
                    "type": "string"
                }
            }
        },
        "core.EventVariant": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "event_id": {
                    "type": "string"
                },
                "generation_error": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "llm_request_id": {
                    "type": "string"
                },
                "locations": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/core.EventLocation"
                    }
                },
                "status": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "variant_number": {
                    "type": "integer"
                }
            }
        },
        "core.MAXAuthSession": {
            "type": "object",
            "properties": {
                "completed_at": {
                    "type": "string"
                },
                "exchanged_at": {
                    "type": "string"
                },
                "expires_at": {
                    "type": "string"
                },
                "session_id": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "core.MAXAuthStart": {
            "type": "object",
            "properties": {
                "expires_at": {
                    "type": "string"
                },
                "max_link": {
                    "type": "string"
                },
                "session_id": {
                    "type": "string"
                }
            }
        },
        "core.User": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "full_name": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "response.ErrorBody": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        },
        "response.ErrorEnvelope": {
            "type": "object",
            "properties": {
                "error": {
                    "$ref": "#/definitions/response.ErrorBody"
                }
            }
        },
        "response.SuccessEnvelope": {
            "type": "object",
            "properties": {
                "data": {}
            }
        }
    },
    "securityDefinitions": {
        "BearerAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}